@model CourseVM

@{
    ViewBag.Title = "Course Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Course Details</h2>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDiscription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailabeSeats)
        </th>
        <th></th>
    </tr>
    <tr>
       
        <td>
            @Html.DisplayFor(model => model.CourseName)
        </td>
        <td>
            @Html.DisplayFor(model => model.StartDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.EndDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.CourseDiscription)
        </td>
        <td>
            @Html.DisplayFor(model => model.AvailabeSeats)
        </td>
       
    </tr>
</table>

@Html.ActionLink("Enroll Now", "Enroll", "Enrollment", new { id = Model.Id }, new { @class = "btn btn-primary" })

@section Scripts {
    <script>

    </script>
}
