@model IEnumerable<CourseVM>

@{
    ViewBag.Title = "List of Courses Available";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Course List</h2>
@Html.ActionLink("Create New Course !", "CreateCourse")


<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        @if(User.IsInRole(SD.Admin_Role)){
        <th>
            @Html.DisplayNameFor(model => model.Status)
            <th>Operation</th>
            
        </th>
        }
       

       
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @if (User.IsInRole(SD.Admin_Role))
                {

                    @Html.DisplayFor(modelItem => item.Status)
                }
            </td>
            @if (User.IsInRole(SD.Admin_Role))
            {
                <td>


                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id }) 

               
            </td>
            }
                <td>
                @if (User.IsInRole(SD.Student_Role))
                    @Html.ActionLink("Details", "Details", new { id=item.Id })
                </td>

 

            

        </tr>
    }

</table>

